*{
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}

/* Navbar */



.navbar{
  box-shadow: 8px 8px 10px 6px #00000026;
}



/* Hero Section */

.hero-section{
  background: #ffffff;
}

/* Menu */

.menu-wrapper{
  background-color: #FE6602;
  color: #fff;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 
.menu img{
  height: 40px;
} */